<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	@model List<UtentiViewModel>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark"
			style="background-color: tomato">
			<div>
				@* using Esercizio_login_user.Models.ViewModels;
#line default
/div> *@

			<ul class="navbar-nav">
				<li><a href="" class="nav-link">Users</a></li>
			</ul>
		</nav>
</header>
	<br>
	<div class="row">
		<div class="container">
			<h3 class="text-center">List of Users</h3>
			<hr>
			<div class="container text-left">
				<a href="~/Home/Aggiungi"
					class="btn btn-success">Add New User</a>
			</div>
			<br>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					@foreach (UtentiViewModel utente in Model)
					{
						<tr>
							<td>@utente.IdUtente</td>
							<td>@utente.Username</td>
							<td>@utente.Nome</td>
							<td>@utente.Email</td>
							<td><a href="/*Link aggiornamento utente*/">updateUser</a></td>
							<td><a href="@Url.Action("RimuoviUtente", "Home", new {id = utente.IdUtente})">Elimina Utente</a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
